header {
  padding: 5px;
  background-color: #000000;
  margin-bottom: 10px;
}

img {
  border-radius: 10%;
}

.socMedList {
  padding: 5px;
  background-color: #000000;
  margin-bottom: 10px;
}

.btn {
  border: 2px solid black;
  border-radius: 8px;
  background-color: #c9c9c9;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.facebook {
  border-color: #4267b2;
  color: #4267b2;
}

.facebook:hover {
  background: #4267b2;
  color: white;
  text-color: #ffffff;
}

.twitter {
  border-color: #00acee;
  color: #00acee;
}

.twitter:hover {
  background: #00acee;
  color: white;
}

.instagram {
  border-color: #8a3ab9;
  color: #8a3ab9;
}

.instagram:hover {
  background: #8a3ab9;
  color: white;
}

.github {
  border-color: #000000;
  color: #000000;
}

.github:hover {
  background: #000000;
  color: white;
}

.text {
  text-indent: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
