header {
  padding: 5px;
  background-color: #000000;
  margin-bottom: 10;
  margin-top: -10px;
  margin-left: -8px;
  margin-right: -8px;
}

body {
  background-color: #c9c9c9;
}

#rozs {
  text-align: center;
  background-color: #000000;
  color: #ecc032;
}

img {
  border-radius: 10%;
  margin-left: 25px;
  margin-right: 20px;
}

#socialMedias {
  padding: 5px;
  background-color: #000000;
  color: #ecc032;
  margin-bottom: 10px;
  margin-left: -8px;
  margin-right: -8px;
  font-size: 25px;
  text-align: center;
}

#btn_facebook {
  border-radius: 8px;
  background-color: #c9c9c9;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-color: #4267b2;
  color: #4267b2;
}

#btn_facebook:hover {
  background: #4267b2;
  color: white;
}

#btn_twitter {
  border-radius: 8px;
  background-color: #c9c9c9;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-color: #00acee;
  color: #00acee;
}

#btn_twitter:hover {
  background: #00acee;
  color: white;
}

#btn_instagram {
  border-radius: 8px;
  background-color: #c9c9c9;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-color: #8a3ab9;
  color: #8a3ab9;
}

#btn_instagram:hover {
  background: #8a3ab9;
  color: white;
}

#btn_github {
  border-radius: 8px;
  background-color: #c9c9c9;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-color: #000000;
  color: #000000;
}

#btn_github:hover {
  background: #000000;
  color: white;
}

#text {
  text-indent: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#socMed {
  margin-top: 100px;
}
